In [57]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
from pandas import Series, DataFrame
import datetime as dt

In [90]:
num = 1
url = "https://www.inmemoriam.be/nl/rouwberichten/?page=" + str(num) + "&filter=&periodStart=2000-03-01&periodEnd=2020-03-31&yearOfBirth=&undertakerId=&placeOfResidence=&provinceId=&newsPaper=&obituary=1"
page = requests.get(url)
soup = BeautifulSoup(page.content, 'html.parser')

In [118]:
df = pd.DataFrame()
df["name"] = []
df["age"] = []
df["date"] = []
df["location"] = []
page_list = np.arange(1,101)

for num in page_list:
    print("Page ", num, " is being scraped now.")
    tempdf = pd.DataFrame()
    url = "https://www.inmemoriam.be/nl/rouwberichten/?page=" + str(num) + "&filter=&periodStart=2000-03-01&periodEnd=2020-03-31&yearOfBirth=&undertakerId=&placeOfResidence=&provinceId=&newsPaper=&obituary=1"
    page = requests.get(url)
    soup = BeautifulSoup(page.content, 'html.parser')
    
    name_list = soup.find_all('h3', class_ = 'c-deceased__name')
    age_list = soup.find_all('span', class_ = 'c-deceased__age')
    date_list = soup.find_all('div', class_ = 'c-deceased__departed')
    location_list = soup.find_all('div', class_ = 'c-deceased__location')
    
    names = []
    ages = []
    dates = []
    locations = []

    for name in name_list:
        name = name.get_text()
        names.append(name)

    for age in age_list:
        age = age.get_text()
        age = int(age[0:-5])
        ages.append(age)

    for location in location_list:
        location = location.get_text()
        locations.append(location)

    for date in date_list:
        date = date.get_text()
        date = date[11:-1]
        date = dt.datetime.strptime(date, "%d/%m/%Y")
        dates.append(date)
        
    ages = Series(ages)
    locations = Series(locations)
    dates = Series(dates)
    names = Series(names)
    
    tempdf["name"] = names
    tempdf["age"] = ages
    tempdf["date"] = dates
    tempdf["location"] = locations
    
    df = df.append(tempdf)

Page  1  is being scraped now.
Page  2  is being scraped now.
Page  3  is being scraped now.
Page  4  is being scraped now.
Page  5  is being scraped now.
Page  6  is being scraped now.
Page  7  is being scraped now.
Page  8  is being scraped now.
Page  9  is being scraped now.
Page  10  is being scraped now.
Page  11  is being scraped now.
Page  12  is being scraped now.
Page  13  is being scraped now.
Page  14  is being scraped now.
Page  15  is being scraped now.
Page  16  is being scraped now.
Page  17  is being scraped now.
Page  18  is being scraped now.
Page  19  is being scraped now.
Page  20  is being scraped now.
Page  21  is being scraped now.
Page  22  is being scraped now.
Page  23  is being scraped now.
Page  24  is being scraped now.
Page  25  is being scraped now.
Page  26  is being scraped now.
Page  27  is being scraped now.
Page  28  is being scraped now.
Page  29  is being scraped now.
Page  30  is being scraped now.
Page  31  is being scraped now.
Page  32  is being scraped now.
Page  33  is being scraped now.
Page  34  is being scraped now.
Page  35  is being scraped now.
Page  36  is being scraped now.
Page  37  is being scraped now.
Page  38  is being scraped now.
Page  39  is being scraped now.
Page  40  is being scraped now.
Page  41  is being scraped now.
Page  42  is being scraped now.
Page  43  is being scraped now.
Page  44  is being scraped now.
Page  45  is being scraped now.
Page  46  is being scraped now.
Page  47  is being scraped now.
Page  48  is being scraped now.
Page  49  is being scraped now.
Page  50  is being scraped now.
Page  51  is being scraped now.
Page  52  is being scraped now.
Page  53  is being scraped now.
Page  54  is being scraped now.
Page  55  is being scraped now.
Page  56  is being scraped now.
Page  57  is being scraped now.
Page  58  is being scraped now.
Page  59  is being scraped now.
Page  60  is being scraped now.
Page  61  is being scraped now.
Page  62  is being scraped now.
Page  63  is being scraped now.
Page  64  is being scraped now.
Page  65  is being scraped now.
Page  66  is being scraped now.
Page  67  is being scraped now.
Page  68  is being scraped now.
Page  69  is being scraped now.
Page  70  is being scraped now.
Page  71  is being scraped now.
Page  72  is being scraped now.
Page  73  is being scraped now.
Page  74  is being scraped now.
Page  75  is being scraped now.
Page  76  is being scraped now.
Page  77  is being scraped now.
Page  78  is being scraped now.
Page  79  is being scraped now.
Page  80  is being scraped now.
Page  81  is being scraped now.
Page  82  is being scraped now.
Page  83  is being scraped now.
Page  84  is being scraped now.
Page  85  is being scraped now.
Page  86  is being scraped now.
Page  87  is being scraped now.
Page  88  is being scraped now.
Page  89  is being scraped now.
Page  90  is being scraped now.
Page  91  is being scraped now.
Page  92  is being scraped now.
Page  93  is being scraped now.
Page  94  is being scraped now.
Page  95  is being scraped now.
Page  96  is being scraped now.
Page  97  is being scraped now.
Page  98  is being scraped now.
Page  99  is being scraped now.
Page  100  is being scraped now.

In [224]:
df.shape
df.reset_index(inplace = True, drop = True)

                     name   age       date    location  month week
1195   Elisabeth XHONNEUX  94.0 2020-03-06          -   March   09
1196     Nathalie ARNOULD  32.0 2020-03-05    Andenne   March   09
1197         Jany BOLLAND  85.0 2020-03-05   Bastogne   March   09
1198       Benny Brepoels  61.0 2020-03-05       Genk   March   09
1199  Georgette Bruggeman  91.0 2020-03-05    Evergem   March   09

In [281]:
dates = df["date"]
months = []
weeks = []
days = []

for date in dates:
    month = dt.datetime.strftime(date, "%B")
    week = dt.datetime.strftime(date, "%W")
    day = dt.datetime.strftime(date, "%j")
    months.append(month)
    weeks.append(week)
    days.append(day)
    
df["month"] = months
df["week"] = weeks
df["day"] = days

df['location']= pd.Series(df['location'], dtype="string")
df['month']= pd.Series(df['month'], dtype="string")
df['week']= pd.Series(df['week'], dtype="string")
df['name']= pd.Series(df['name'], dtype="string")
df['day']= pd.Series(df['day'], dtype="string")

df["location"].value_counts()

Hasselt                 56
Genk                    40
-                       33
Sint-Truiden            28
Verviers                22
                        ..
Elsene                   1
Ville-Pommeroeul         1
Houthalen-Helchteren     1
Sint-Pieters-Leeuw       1
Hombourg                 1
Name: location, Length: 485, dtype: Int64

In [280]:
df.head()

                  name   age       date   location  month week  day
0  Rose-Marie ARLEPAIN  83.0 2020-03-31  Templeuve  March   13  091
1      Liliane Barbier  78.0 2020-03-31     Brugge  March   13  091
2     Lieven BYTTEBIER  95.0 2020-03-31   Wevelgem  March   13  091
3     Irène CALLEWAERT  93.0 2020-03-31    Luingne  March   13  091
4    Francine CHARLIER  94.0 2020-03-31    Rouvroy  March   13  091